.stylingWEP{
    margin-top: 4rem;
}

@media (max-width:990px){
    .stylingWEP{
        margin-top: 2rem;
    }
}

@font-face {
    font-family:"Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.btnTxt{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Demi-Normal-5taag63X";
    line-height: 22px;
    position: relative;
}

.btnTxt::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%; /* Set the width */
    height: 2px; /* Set the height */
    bottom: -2%;
    left: 0;
    transform: scaleX(0);
    transition: transform 1s; /* Apply transition only to the transform property */
}

.btnTxt:hover::after {
    transform: scaleX(1);
}

.styleDiv5{
    padding: 3rem;
    margin-left: 7rem;
}

@media (max-width:990px){
    .styleDiv5{
        padding: 0;
        margin-left: 0;
    }
}