@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.Stephanie{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Demi-Normal-5taag63X";
    line-height: 26px;
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.salesRepresent{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 26px;
}

.styleBtn{
    margin-top: 2rem;
}

.styleBtn2{
    margin-top: 12rem;
}

@media (max-width:990px){
    .styleBtn2{
        margin-top: auto;
    }
}

.button-container {
    display: flex;
    padding: 5% 5%;
    border: 2px solid grey;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    background-color: white ;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
  
  .button-container:hover {
    background-color: black;
  }

  .btnText {
    transition: color 0.3s ease; /* Add transition effect for text color change */
  }
  
  .button-container:hover .btnText {
    color: white; /* Change text color on hover */
  }