@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.FoodCourtText{
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Demi-Normal-5taag63X";
    line-height: 52px;
    opacity: 1;
}

@media (max-width:600px){
    .FoodCourtText{
        font-size: 20px;
        line-height: normal;
    }
}

.BlueLineFC{
    width: 60px;
    height: 4px;
    cursor: inherit;
    border-width: 0px;
    background-color: rgb(93, 199, 209);
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.textFC{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 26px;
    word-break: break-all;
}

.mainStyleofPara{
    width: 213px;
}

@font-face {
    font-family:"Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.bottomHeading{
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Demi-Normal-5taag63X";
    /* word-break: break-all; */
    line-height: 52px;
}

@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.bottomText2{
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 40px;
}

@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.hyperLinkText{
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 40px;
    margin-top: 2rem;
}

@media(max-width:600px){
    .bottomHeading{
        font-size: 20px;
        line-height: normal;
    }
    .bottomText2{
        font-size: 20px;
        line-height: normal
    }
    .hyperLinkText{
        font-size: 17px;
        line-height: normal;
        z-index: 2;
    }
}

.line {
    position: relative;
    background-color: white; 
}

.line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    height: 2px;
    background-color: black;
    width: 100%;
    transform: scaleX(0);
    transition: 1s;
}

a.line:hover::after{
    transform: scaleX(1);
}



