@font-face {
    font-family:"Futura PT Medium-Norma-sc4damH4"  ;
    src: url('../../fonts/futuraptmedium.woff') format('woff');
}
.amenities{
    font-size: 16px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Medium-Norma-sc4damH4" ;
    text-align: left ;
    line-height: 27px ;
}
@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.boldHeading1{
    font-style: normal ;
    font-size: 60px ;
    font-weight: bold ;
    color: rgb(236, 20, 90);
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    text-align: left ;
    padding: 0px;
    line-height: 60px ;
}

@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA"  ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.body3{
    font-size: 22px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    overflow: visible;
    white-space: pre-wrap;
    text-align: left ;
    padding: 0px;
    line-height: 35px ;
    padding-right: 5rem;
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.body4{
    font-size: 16px;
    color: rgb(0, 0, 0);
    z-index: 100;
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    overflow: visible;
    white-space: pre-wrap;
    text-align: left;
    padding: 0px;
    line-height: 25px;
    padding-right: 5rem;
}

.hrLine{
    width: 60px;
    height: 5px;
    transform-origin: 0px 0px;
    opacity: 1;
    pointer-events: auto;
    cursor: inherit;
    border-width: 0px;
    background-color: rgb(236, 20, 90);
}

@media (max-width:690px){
   .amenities{
    font-size: 14px;
    line-height: normal;
   }
   .boldHeading1{
    font-size: 20px;
    line-height: normal;
   }
   .body3{
    font-size: 19px;
    line-height: normal;
    text-align: justify;
   }
   .body4{
    font-size: 19px;
    line-height: normal;
    text-align: justify;
   }
}