@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.boldtext1{
    color: rgb(232, 210, 25);
    font-style: normal ;
    font-size: 70px ;
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    overflow: visible;
    white-space: pre-wrap ;
    text-align: left ;
    line-height: 72px ;
}

@media (max-width:690px){
    .boldtext1{
        font-size: 20px;
        line-height: normal;
        text-align: justify;
    }
}

