.horizontalLine {
    width: 60px;
    height: 5px;
    background-color: rgb(93, 199, 209);
    z-index: 1;
    position: relative;
    margin-left: 1rem;
}


.RenovationBtn {
    text-align: center;
    margin: 3rem;
    border: 2px solid gray;
    position: relative;
    padding: 1rem;
}

.RenovationBtn::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%; /* Set the width */
    height: 100%; /* Set the height */
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 1s; /* Apply transition only to the transform property */
}

.RenovationBtn:hover::after {
    transform: scaleX(1);
}


@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.btnTextLearnMore{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black;
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 26px;
    z-index: 20000;
}

.svg{
    color: rgb(87,87,87);
}

.RenovationBtn:hover .btnTextLearnMore {
    color: white;
    transition: color 0.3s; /* Smoothly transition text color on hover */
}
  
  .RenovationBtn:hover svg {
    color: white !important; /* Arrow color on hover */
    transition: color 0.3s; /* Smoothly transition text color on hover */
  }

@media (max-width:650px) {
    .imgStyling {
        margin-right: 2rem !important;
    }
    /* Image4 */
    .imageStyle{
        width: 90% ;
        margin-left: 1rem ;
    }
    .RenovationBtn{
        margin: 1rem !important;
    }
    .btnTextLearnMore{
        font-size: 10px;
        line-height: normal;
    }
}

.fcStyle{
    right: -4rem;
}

/* groundFloor.css */
@media(min-width:767px) and (max-width:1120px){
    .spanTitle1{
        font-size: 14px;
        line-height: normal;
    }
}