@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.paragraph{
    font-weight: bold ;
    font-size: 25px ;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Demi-Normal-5taag63X";
    white-space: pre-wrap ;
    line-height: 40px ;
}

@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.TransformingText{
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Demi-Normal-5taag63X";
    line-height: 90px;   
}

@media (max-width:670px) {
    .TransformingText{
        font-size: 30px;
        line-height: normal !important;
    }
    .paragraph{
        font-size: 20px ;
        line-height: normal !important;
    }
}

@media (max-width:320px) {
    .TransformingText{
        font-size: 20px;
        line-height: normal ;
    }
    .paragraph{
        font-size: 17px;
        line-height: normal !important;
    }
}

.down-arrow{
    color: rgb(255, 255, 255,0.5);
}


@keyframes bounce {
    0% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-10px); }
}

.down-arrow {
    animation: bounce 2s infinite;
}

.learnmore{
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: "Futura PT Book-Normal";
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.text{
    color: white;
    text-decoration: none;
    font-family: "Futura PT Book-Normal";
}

.text::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Adjust the line height as needed */
    background-color: white; /* Change the color as needed */
    transition: width 0.3s ease-in-out; /* Transition effect for width */
}

.text:hover::after {
    width: 20%;
}


/* :root {
    --img-width: 100%;
    --img-height: 100%;
}

.sofaImg {
    object-fit: cover;
    object-position: 0 0; 
    width: 0;
    height: var(--img-height);
    animation: revealFromLeft 2s forwards;
}

@keyframes revealFromLeft {
    0% {
        width: 0; 
    }
    100% {
        width: var(--img-width); 
    }
} */

.verticalSliderContainer {
    position: fixed;
    top: 35%;
    left: 1%;
    transform: translateY(-50%);
    z-index: 1000; 
}

.verticalSliderContainer a {
    display: block;
    margin-bottom: 20px; 
}



@media (max-width:767px){
    .verticalSliderContainer{
        top: 24%;
    }
}

.newWepPadding{
    padding: 4rem;
}


