@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.text1 {
    font-size: 40px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    white-space: pre-wrap;
    text-align: left ;
    line-height: 64px ;
    /* padding: 2%; */
    /* word-break: break-all; */
}


@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.body1 {
    font-size: 26px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    text-align: left ;
    line-height: 40px ;
    padding-right: 15%;
    /* padding-left: 2%; */
}

@font-face {
    font-family: "Futura PT Medium-Norma-sc4damH4";
    src: url('../../fonts/futuraptmedium.woff') format('woff');
}

.heading {
    font-family: "Futura PT Medium-Norma-sc4damH4" ;
    font-size: 16px ;
    line-height: 27px ;
    text-align: left ;
    letter-spacing: 1.776px ;
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    src: url('../../fonts/futurapt-book.woff') format('woff');
}

.title {
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    font-size: 20px ;
    line-height: 30px ;
    text-align: left ;
    letter-spacing: normal;
    text-align: left;

}

@media (min-width: 767px) and (max-width: 1085px) {
    .heading{
        font-size: 14px;
        line-height: normal;
    }
    .title{
        font-size: 16px;
        line-height: normal;
    }
    /* .css-1tvu61-MuiPaper-root-MuiCard-root{
        height: auto !important;
    } */
  }
  

@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.link {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    line-height: 26px;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -2%;
    left:0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: 1s;
}

.link:hover::after{
    transform: scaleX(1);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

@media (max-width:500px){
    .text1{
        font-size: 20px;
        line-height: normal;
        word-break: break-all;
    }
    .body1{
        font-size: 18px;
        line-height: normal;
        word-break: break-all;
    }
    .heading{
        font-size: 10px;
        line-height: normal;
    }
    .title{
        font-size: 15px;
        line-height: normal;
    }
    .link{
        font-size: 9px;
        line-height: normal;
    }
    .css-1tvu61-MuiPaper-root-MuiCard-root{
        height: auto !important;
    }
}