.lineNoDrop{
    width: 59px;
    height: 5px;
    background-color: rgb(40, 92, 170);
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
    font-family:"Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.SmartTechText{
    font-size: 20px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    text-align: left ;
    line-height: 30px ;
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.footertext{
    font-size: 17px ;
    color: rgb(0, 0, 0);
    /* z-index: 48; */
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    line-height: 27px ;
    margin-left: 4rem;
}

@media (max-width:690px){
    .SmartTechText{
        line-height: normal;
        text-align: justify;
    }
    .footertext{
        line-height: normal;
        margin-left: 2rem;
    }
}