@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.boldtextWell{
    color: rgb(36, 180, 103);
    font-style: normal ;
    font-size: 50px ;
    font-family: "Futura PT Demi-Normal-5taag63X" ;
    overflow: visible;
    white-space: pre-wrap ;
    text-align: left ;
    line-height: 60px ;
    text-align: justify;
}

@media (max-width:690px){
    .boldtextWell{
        font-size: 20px;
        line-height: normal;
    }
}

@font-face {
    font-family: "Futura PT Book-Normal-PEtZdOHA";
    src: url('../../fonts/futurapt-book.woff') format('woff');
}
.body1{
    font-size: 20px ;
    color: rgb(0, 0, 0);
    font-family: "Futura PT Book-Normal-PEtZdOHA" ;
    overflow: visible;
    white-space: pre-wrap ;
    text-align: left;
    line-height: 30px ;
    margin-top: 2rem;
}