@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.headerNames{
    text-transform: uppercase !important;
    font-style: normal !important;
    font-size: 12px !important;
    color: rgb(0, 0, 0) !important;
    font-family: "Futura PT Demi-Normal-5taag63X" !important;
    line-height: 26px !important;
}

.css-r6ewbb-MuiToolbar-root {
    min-height: 48px !important;
}

