@font-face {
    font-family:"Futura PT Demi-Normal-5taag63X" ;
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.redevelopmentTeam{
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Demi-Normal-5taag63X";
    line-height: 80px;
    width: 809px;
    margin-left: -2rem;
}

@media (max-width:990px){
    .redevelopmentTeam{
        font-size: 30px ;
        line-height: normal !important;
        width: auto;
        word-break: break-all;
    }
}

@media (max-width:670px){
    .redevelopmentTeam{
        font-size: 50px ;
        line-height: normal !important;
        width: auto;
        word-break: break-all;
    }
}

@media (max-width:320px){
    .redevelopmentTeam{
        font-size: 15px !important ;
        line-height: normal !important;
        width: auto;
        word-break: break-all;
    }
}